{
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "proseWrap": "always",
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.md,*.js",
      "options": {
        "parser": "markdown"
      }
    }
  ]
}
